networks:
  web:
    external: true

services:
  db:
    container_name: mysql
    #specify location of dockerfile and path context of container
    build: 
      context: ./db
      dockerfile: config/Dockerfile
    #resilience for crashes 
    restart: always
    #define network for other containers
    networks: [web]
    #mount database static files and init scripts
    volumes:
    - mysql_vol:/var/lib/mysql
    - ./db/db-init-scripts:/docker-entrypoint-initdb.d

    #containers environment variables injected on build
    env_file:
     - ./db/config/.env.db

    #ports mapped host:container
    # ports:
    #  - "3306"
    

    #healthcheck
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5


  backend:
    container_name: django
    #specify location of dockerfile and path context of container
    build: 
      context: ./backend
      dockerfile: config/Dockerfile
    restart: unless-stopped

    #mount local root directory to workspace folder
    #bad for production and not clean overrides COPY . . in dockerfile
    
    #define network for other containers
    networks: [web]
    volumes:
    - ./backend/api/migrations:/app/api/migrations
     #- ./backend:/app

    #containers environment variables
    env_file:
     - ./backend/config/.env.backend

    #ports mapped host:container
    # ports:
    #  - "8000"

    #set working directory in container
    working_dir: /app

    #wait for status of db health check
    depends_on:
      db:
        condition: service_healthy

    #run start script
    command: bash config/ss.sh

  frontend:
    container_name: svelte
    build:
      context: ./frontend
      dockerfile: config/Dockerfile
    restart: unless-stopped

    #define network for other containers
    networks: [web]
    #mount local root directory to workspace folder
    #volumes: 
     #- ./frontend:/app

    #containers environment variables
    env_file:
     - ./frontend/config/.env.frontend

    #ports mapped host:container
    # ports:
    #  - "3000"

    #set working directory in container
    working_dir: /app

    #run start script
    command: node build

#create a docker volume to store database static files, mounted above
volumes: 
  mysql_vol:
